.article{

    &__feature_img {
        img{
            display: block;
            margin: 0 auto;
        }
    }

    &__meta {
        display: flex;
        align-items: baseline;
        margin: 0 0 4rem;

        font-size: 1.5rem;
        font-weight: 200;
        color: #8a9199;

        &--author{
            padding-right: 0.5rem;
        }
    }
    h1, h2, h3, h4 {
        font-weight: 900;
    }
    h1 {
        font-size: 4.5rem;
        line-height: 5rem;
        margin-top: 4rem;

    }
    h2 {
        font-size: 3rem;
        line-height: 2.5rem;
        text-indent: -1px;
        margin: 3rem 0 1.8rem;
    }
    h3 {
        font-size: 2.5rem;
        line-height: 1.2em;
        margin: 1.2em 0 1.2em;
    }
    h4 {
        font-size: 2rem;
        line-height: 1.2em;
        margin: 1.2em 0 1.2em;
    }
    
    blockquote {
        font-size: 2.3rem;
        font-style: italic;
        font-weight: 400;
        color: #45484d;
        background: #faf9f7;
        margin: 0 0 4rem;
        padding: 1em;
        box-sizing: border-box;
        border-left: 0.5rem solid #e5e4e1;
    }

    ol {
        margin: 0 0 2rem;
        padding-left: 4rem;
        counter-reset: item;
    }
    ul {
        margin: 0 0 2rem;
        padding-left: 4rem;
        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }
    }

    p {
        margin: 0 0 2em;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .kg-image-card .kg-image {
        margin: 0 auto;
    }
    .kg-image-card {
        margin: 0 0 2em;
        max-width: none !important;
        img{
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 0 2em;
        }
        figcaption{
            font-size: 1.5rem;
            color: #8a9199;
            text-align: center;
            max-width: 90%;
            margin: auto;
            padding: 0.667em 0;
        }
    }
    
    
}

