:root{
  --color-background: #f7f7f7;
  --color-primary: #333;
  --color-primary-1: #143b6d;
}

.night-mode {
  --color-background: #282c34;
  --color-primary: #fff;
  --color-primary-1: yellow;
}


* {
  margin: 0;
  padding: 0;
}

*::before, *::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', serif;
  font-size: 2rem; // calc(8px + 2vmin);
  font-weight: 400;
  background: var(--color-background);
  color: var(--color-primary);
}