@import '../../styles/mixins';

.overview{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
  border-bottom: 0.01rem solid var(--color-primary);

  @include respond(phone){
    flex-wrap: wrap;
  }

  &__date {
    font-weight: 100;
    font-size: 70%;
    flex: 0 0 10%;
    @include respond(phone){
      order: 2;
      flex: 1 0 100%;
    }
  }

  &__feature_image{
    flex: 0 0 20%;
    align-self: center; // y-axis
    @include respond(phone){
      flex: 1 0 100%;
      order: 0;
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      margin-left:-2rem;
      margin-right:-2rem;
    }
    img{
      max-width: 100%;
      height: auto;
    }
  }

  &__description{
    flex: 0 0 65%;
    @include respond(phone){
      order: 1;
      flex: 1 0 100%;
    }

    &--title{ font-weight: 900;}
    &--excerpt{
      font-weight: 400;  
      font-size: 1.7rem;}

    &--link{
      color: inherit;
      &:active, &:visited{text-decoration: none;}
      &:hover{
        text-decoration: none;
        color: var(--color-primary-1);
      }
    }
  }
}