@import '../../styles/mixins';

.header {
  display: flex;
  align-items: baseline; // align text,  not flex-end.
  justify-content: space-between;
  padding: 2em 0;

  @include respond(phone){
    flex-direction: column;
    align-items: center;
  }
  
  &__logo {
    .brand{
      &--main{font-weight: 900;}
      &--sub{font-weight: 200;}
    }
    a {
      color: inherit;
      &:link, &:visited{
        text-decoration: none;
      }
    }
  }

  &__nav-bar {
    a{
      margin: 0 1vh;
      color: inherit;
      &:hover{
        border-bottom: 2px solid var(--color-primary-1);
        color: var(--color-primary-1);
      }
          
      &:link, &:visited{
        text-decoration: none;
      }
    }

  }

}

