.header {
  position: sticky;
  display: flex;
  align-items: baseline; // align text,  not flex-end.
  justify-content: space-around;
  padding: 2em 0;

  &__logo {
    a{
      margin:0;
      padding:0;
    }
    .brand{
      font-size: 2.5rem;
      &--main{font-weight: 900;}
      &--sub{font-weight: 200;}
    }
  }

  &__nav-bar {
    margin-right: 2ch;
    display: flex;
    align-items: baseline;
    a{
      margin: 0 1vh;
      &:hover{
        font-weight: 600;
        color: var(--color-primary-1);
      }
    }
  }
  a {
    color: inherit;
    &:link, &:visited{
      text-decoration: none;
    }
  }
}

